<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Posts</h1>
      <ul class="list-group">
        <app-post *ngFor="let post of posts"
                       [postTitle]="post.title"
                        [postContent]="post.content"
                        [postLoveIts]="post.loveIts"
                        [postCreated_at]="post.created_at">
        </app-post>
      </ul>
    </div>
  </div>
</div>
