<li class="list-group-item"
    [ngStyle]="{backgroundColor: getColorBg()}">
  <p style="font-style: italic;text-align: right"> {{ lastUpdate | date: 'short' }}  </p>
  <h3 [ngStyle]="{color: getColorFont()}"> {{ postTitle }} </h3>

  <p [ngStyle]="{color: getColorFont()}"> {{ postContent }} </p>
  <button style="margin-right: 10px" class="btn btn-success"
          (click)="onYes()">Love it!
  </button>
  <button class="btn btn-danger"
          (click)="onNo()">Don't Love It!
  </button>
</li>
